## Copyright (C) 2018 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

[Desktop Entry]
Type=Application
Terminal=false
Exec=/usr/libexec/restart-tor-gui/restart-tor-gui
Name=Restart Tor GUI
GenericName=Restart Tor GUI
Comment=Graphical tool for restarting Tor
Categories=System
Icon=/usr/share/icons/icon-pack-dist/restart.ico
Keywords=system;tor;

