## Copyright (C) 2018 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

[Desktop Entry]
Categories=System;
Type=Application
Comment[en_US]=Tor Connection Configuration
Comment=Tor Connection Configuration
Exec=/usr/libexec/tor-control-panel/tor-control-panel
GenericName[en_US]=Tor Control Panel
GenericName=Tor Control Panel
Icon=/usr/share/tor-control-panel/onion64.png
Keywords=system;Whonix;setup;connection;Tor;Anon;
Name[en_US]=Tor Control panel
Name=Tor Control panel
# Path=
# StartupNotify=false
# Terminal=false
# TerminalOptions=
# Type=Application
# X-DBUS-ServiceName=
# X-DBUS-StartupType=
# X-Desktop-File-Install-Version=0.22
# X-KDE-StartupNotify=false
# X-KDE-SubstituteUID=false
# X-KDE-Username=
