## Copyright (C) 2018 - 2018 ENCRYPTED SUPPORT LP <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

[Unit]
Description=Make Sure Torrc Files Exist For Tor Control Panel
Documentation=https://github.com/Whonix/tor-control-panel
ConditionPathExists=!/var/run/qubes/this-is-templatevm
Before=tor.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/helper-scripts/repair_torrc.py

[Install]
WantedBy=multi-user.target
