## Copyright (C) 2018 - 2021 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

[Unit]
Description=Make Sure Torrc Files Exist For Tor Control Panel
Documentation=https://github.com/Whonix/tor-control-panel
ConditionPathExists=!/run/qubes/this-is-templatevm
Before=tor.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/helper-scripts/repair_torrc.py

[Install]
WantedBy=multi-user.target
