<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <action id="com.kicksecure.restart-tor-gui.restart-tor">
    <description>Restart the tor@default service</description>
    <message>Authentication is required to restart the tor@default service</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/systemctl</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">--no-pager</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv2">restart</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv3">tor@default</annotate>
  </action>

  <action id="com.kicksecure.restart-tor-gui.status-tor">
    <description>Status the tor@default service</description>
    <message>Authentication is required to status the tor@default service</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/systemctl</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">--no-pager</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv2">status</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv3">tor@default</annotate>
  </action>

</policyconfig>
