## Copyright (C) 2012 - 2018 ENCRYPTED SUPPORT LP <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: tor-control-panel
Section: misc
Priority: optional
Maintainer: troubadour <trobador@riseup.net>
Uploaders: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 12), genmkfile, ronn
Homepage: https://www.whonix.org/
Vcs-Browser: https://github.com/troubadoour/tor-control-panel
Vcs-Git: https://github.com/troubadoour/tor-control-panel.git
Standards-Version: 4.3.0

Package: tor-control-panel
Architecture: all
Depends: ${misc:Depends}, python3, python3-pyqt5, python3-stem,
 python3-ipy, helper-scripts, lxqt-sudo
Recommends: tor, obfs4proxy
Description: Tor Control Graphical User Interface
 tor-control-panel is a Tor controller.
 .
 tor-control-panel is produced independently from the Tor anonymity
 software and carries no guarantee from The Tor Project about quality,
 suitability or anything else.
